<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/okayu.jpg" alt="profile" class="img-thumbnail
            rounded-circle" width="150px">
            <h1 class="display-4">Nekomata Okayu</h1>
            <p class="lead"> Vtuber | Gamer</p>
        </div>
    </div>
</div>